body
 {
    background-color: #22232b;
  }
  h1{
    color: #eb2f06;
    text-align: center;
    font-family: arial;
  }
  h3{
    color: #eb2f06;
    text-align: left;
    font-family: arial;
  }
  .links{
    text-decoration: none;
    font-size: 15pt;
    font-family: arial;
    color:grey;
  
  }
  .links:hover
  {
    font-style: italic;
    color:#eb2f06;
  
  }
  .footer 
  {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #111216;
      color: grey;
      text-align: center;
      font-family: arial;
  
  }
.header 
  {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #111216;
    color: grey;
    text-align: center;
    font-family: arial;

}
.header2 
{
  position: fixed;
  left: 92%;
  top: 1%;
  width: 25%;
  background-color: #111216;
  color: grey;
  text-align: center;
  font-family: arial;

}
.rodape{
   text-decoration: none;
   color:grey;
}
.rodape:hover{
  color:#eb2f06;
}
.projetos{
  position: fixed;
  top: 125px;
  margin: auto;
  width: 100%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:50%;
    background-color: #111216;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 20px 18px 0 rgba(0,0,0,0.2) ;
}